<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MediCueApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09EF948C20C92FB50034428E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EF94A020C92FB60034428E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EF94AB20C92FB70034428E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
